<footer class="footer">
    <p>&copy; <span id="current-year"></span> Shah Bano</p>
    <script>
        document.getElementById('current-year').textContent = new Date().getFullYear();
    </script>
    <ul>
        <li><a href="/termsAndConditions">Terms and Conditions</a></li>
    </ul>
</footer>
