/* Variables */
$primary-color: lightpink;
$secondary-color: lightblue;
$background-color: rgb(1, 21, 27);
$font-color: lightpink;

/* General Styles */
h1, h2, h3, p, li {
  color: $primary-color;
  font-weight: bold;
}

body {
  background-color: $background-color;
}

.footer, .header {
  background-color: #414141;
  color: $primary-color;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination a {
  color: $secondary-color;
  margin: 0 10px;
}

.floating-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: auto;
}

/* Form Styles */
form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

label {
  flex: 1 50%; /* Full width label for better spacing */
  margin-bottom: 0.5rem;
  margin-left: 25%;
  color: $primary-color;
}

input, textarea {
  flex: 1 45%; /* Adjust width to be smaller */
  padding: 0.5rem;
  margin-bottom: 1rem;
  margin-right: 25%;
  margin-left: 25%;
}

button {
  flex: 1 100%;
  padding: 0.5rem;
  background-color: $secondary-color;
  color: black;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-right: 25%;
  margin-left: 25%;
}

#spinner, #responseMessage {
  flex: 1 100%;
  margin-top: 1rem;
}

#spinner {
  display: none;
}

#responseMessage {
  display: none;
}
