---
layout: layouts/layout.ejs
title: Welcome
---

<h1>Welcome to My Site</h1>
<p>Here’s a brief introduction to the content of the site.</p>

<p>I have used Strapi CMS to build this website! <br>
   It was made using pagination! Click on next or previous to find new and old recipies or blog posts! <br>
   For extra details about this website, please click on the dropdown or go through my blog for my documentation and lab writeups!.
</p>
<img class="floating-image" src="images/food.jpg">

